body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    background: rgba(231,239,241,255);
    background-size: 60% 100%;
    background-image: linear-gradient(to right,rgba(231,239,241,255) 50%,transparent 50%),
    url(homepage_front_image2.jpeg);
    background-repeat: no-repeat;
    background-position: left, right;
    background-attachment: fixed;
    position: relative;

}
html{
    height: 100%;
    margin: 0;
}



.dashboard-full{
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(181,205,215,0.7);
    padding: 10px 0px;
}

.logoandname{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.health_cure_logo{
    width: 50px;
    height: auto;
    border: 1px,black,solid;
    border-radius: 50px;
}

.health{
    padding-left: 10px;
    font-weight: bolder;
    font-size: 15px;
    color: rgba(41,41,101,255);
}

.cure{
    font-weight: bolder;
    font-size: 15px;
    padding-left: 3px;
}

.dashboard{
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    font-size: 20px;
    padding: 10px;
    padding-top: 1px;
}

.logsign{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    
}

.login{
    background-color: rgba(0,122,255,255);
   padding: 10px;
    border: 1px,blue,solid,;
    border-radius: 10px;
    color: white;
    width: 60px;
    align-items: center;
    justify-content: center;
    

}

.Signup{
    background-color: rgba(0,122,255,255);
    padding: 10px;
    margin-left: 20px;
    border: 1px,blue,solid,;
    border-radius: 10px;
    color: white;
    width: 60px;
}


a{
    text-decoration: none;
    color: black;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    color: rgb(49, 49, 173);
    padding-left: 20px;
    font-size: 40px;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-weight: 500;

}

.Started{
    font-size: 20px;
    background-color: rgba(1,141,198,255);
    border-radius: 40px;
    color: white; 
    padding: 20px 20px; 
    width: fit-content; 
    box-sizing: border-box; 
    text-align: center;
    margin-left: 10px;
}

.half-circle{
    position: absolute;
    right: 35%;
  bottom: 0;
  width: 700px;
  height: 350px;
  background-color:  rgba(143,194,215,0.7);
  border-top-left-radius: 1200px;
  border-top-right-radius: 1200px;
 
}

.content2{
    color: black;
    font-size: 15px;
    margin-top: -30px;
    margin-right: 60px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
}